anyio==3.6.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
fastapi==0.78.0
idna==3.3
pydantic==1.9.1
PyJWT==2.4.0
python-dotenv==0.20.0
pytz==2022.1
psycopg2-binary==2.8.5
requests==2.27.1
sniffio==1.2.0
starlette==0.19.1
twilio==7.9.1
typing_extensions==4.2.0
urllib3==1.26.9
